.header .left{
    width: 0px;
    float:left;
    height: 60px;
    padding:25px 0 0 30px;
    color:#FFFFFF;
    }
    .jam {
        display: inline-block;
        background-color: #925B22;
        text-align: center;
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
        font-size:20px;
        color: #ffffff;
    }
    .header .right{
        width:700px;
        padding:5px 70px 0 0;
        float:right;
        }
        
        .left{
        position: relative;
        bottom:20px; 
        }
        ul.navigation{
            display: inline-flex;
            list-style:none;
            margin:60px;
            }
            ul.navigation li{
            display: block;
            float: left;
            text-align: center;
            width: 125px;
            height:40px;
            color: #ffffff;
            }
           
            ul.navigation li a{
            display: block;
            width: 125px;
            height:40px;
            color: #FFFFFF;
            font-size: 23px;
            font-weight:bold;
            line-height:30px;
            text-decoration:none;
            }
            ul.navigation li a:hover, ul.navigation li a.active{
            color: #925B22;
            text-decoration: underline;
            }
            html::-webkit-scrollbar{
                width: 15px;
                }
                html::-webkit-scrollbar-thumb{
                background-color: #925B22;
                border-radius: 10px;
                }
                html::-webkit-scrollbar-track{
                background-color: #DCB383;
                }
                html::-webkit-scrollbar-corner{
                background-color: #DCB383;
                }
            p{
                line-height: 30px;
                font-family: arial;
                }
                hr{
                    border-width: 5px;
                    border-color: #925B22;
                    border-radius: 5px;
                }
            .imgkanan{
                height: 200px;
                float: right;
                clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            }
            .imgkiri{
                height: 200px;
                float: left;
                clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
            }
            .img:hover{
                clip-path: circle(55.3% at 50% 50%);
            }
            .copy{
                width: 1200px;
                height: 25px;
                margin: 0 auto;
                color:#000000;
                text-align:center;
                font-size:14px;
                }
                